
{{#if viewAll}}
	{{project-list data=rawProjects action='showAll'}}
{{/if}}
<div class="show-all" {{action 'showAll'}}>&mdash; back</div>

<div class="hero-top">
	<div class="hero-left" data-aos="fade-up">
		<img class='hero-img' src="{{data.heroImage}}">
	</div>

	<div class="hero-right">
		<div class="hero-data">
			<h1 class="hero-title">{{data.title}}</h1>
			<div class="line scroll-reveal"></div>
			<div class="info-text">
				<p>{{data.year}}</p>
				{{!-- <ul>
					{{#each data.year as |year index|}}
						<li>{{year}}</li>
					{{/each}}
				</ul> --}}
				<ul>
					{{#each data.type as |type index|}}
						<li>{{type}}</li>
					{{/each}}
				</ul>
			</div>
			{{#with data.projectLink}}
				{{#each data.projectLink as |link index|}}
					<a href="{{link.linkUrl}}" class="project-link" target="_blank">
						<div class="link-text">
						{{link.linkText}}
						</div>
					</a>
				{{/each}}
			{{/with}}
		</div>
	</div>
</div>

<div style="clear: both;"></div>

<div class="hero-body">
	<div class="description">
		{{#with data.description}}
			<p class="description1">{{data.description}}</p>
		{{/with}}
		{{#with data.description2}}
			<p class="description2">{{data.description2}}</p>
		{{/with}}
	</div>

{{!-- 	<div class="features-section">
		<ul class="feature-text">
			{{#each data.featureText as |feature index|}}
				<li class="feature-link">{{feature}}</li>
			{{/each}}
		</ul>
		{{#each data.firstImage as |featurePic index|}}
			<img class="feature-img" src={{featurePic}}>
		{{/each}}
	</div> --}}

	<div style="clear: both;"></div>

	<div class="hero-gallery">
		{{#with data.prototype}}
			<iframe class="prototype" src="{{data.prototype}}" frameborder="0" scrolling="no" height="650"></iframe>
		{{/with}}
		{{#with data.prototype2}}
			<iframe class="prototype2" src="{{data.prototype2}}" frameborder="0" scrolling="no" width="418" height="930" style="transform: scale(0.6)"></iframe>
		{{/with}}
		{{#with data.projectImgs}}
			<div class="not-masonry-grid">

				<div id="col-1" class="col">
					{{#each evenImages as |image index|}}
						<div class="gallery-image">
							<img src={{image.image}}>
							{{!-- <p>{{image.text}}</p> --}}
						</div>
					{{/each}}
				</div>

				<div id="col-2" class="col">
					{{#each oddImages as |image index|}}
						<div class="gallery-image">
							<img src={{image.image}}>
							{{!-- <p>{{image.text}}</p> --}}
						</div>
					{{/each}}
				</div>
			</div>
		{{/with}}
	</div>
</div>
