
{{#if viewSingle}}
	<div class="show-all" {{action 'showAll'}}>&mdash; back</div>
{{/if}}
{{!-- <div class="show-all" {{action 'showAll'}}>
	<div class="thin-line"></div>
	<p {{action 'showAll'}}>back</p>
</div> --}}

<div>
	{{#each projects as |project index|}}
	  	{{project-preview data=project index=index activeProjectIndex=activeProjectIndex animationDuration=animationDuration randomIntervals=randomIntervals action='hideOthers'}}
	{{/each}}
</div>

{{#if activeProject}}
	{{project-hero data=activeProject activeProjectIndex=activeProjectIndex animationDuration=animationDuration}}
{{/if}}
